////////////////////////////////////////
//                                    //
// File with colors variables on site //
//                                    //
////////////////////////////////////////


$color1: #fff;
$color2: #000;
$color3: #A6A0A0;
$color4: #706E6E;
$color5: #141111;
$linar: radial-gradient(50% 50% at 50% 50%, rgba(175, 175, 175, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
