//////////////////////////////////////////
//                                      //
// File with all font variables on site //
//                                      //
//////////////////////////////////////////


$font1: 'Spartan', sans-serif;
$font2: 'Sulphur Point', sans-serif;
$font3: 'Teko', sans-serif;
$font4: 'Trade Winds', cursive;
